{% extends 'base.html.twig' %}

{% block title %}Crowdin{% endblock %}

{% block body %}
<div class="container-fluid login_page">
    <header class="login_header row">
        <img src="{{ asset('images') }}/crowdin-logo-small.svg" alt="Crowdin logo small" class="crowdin_logo_small" />
        <div>
            <a href="{{ path('app_register') }}" class="btn btn-outline-primary btn-link btn-sm mr-0">S'inscrire</a>
        </div>
    </header>
    <div class="row">
        <section class="col-1 login_pattern_left"></section>
        <section class="col-4 login_about">
            <h1>Solution de localisation agile pour les entreprises technologiques</h1>
            <p>Crowdin est une solution basée sur le cloud qui rationalise la gestion de la localisation pour votre équipe. C'est l'endroit idéal pour gérer efficacement tout votre contenu multilingue.</p>
            <p class="mt-4 grey_text">Reconnu par des entreprises prospères du monde entier</p>
            <img src="{{ asset('images') }}/login-logos.png" alt="Login logos" class="img-fluid" />
        </section>
        <section class="col-4 offset-2 login_form_section">
            <h3 class="mb-5">Se connecter</h3>
            <form method="post">
                <div>
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                </div>
                <div>
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <button class="btn btn-primary btn-block" type="submit">S'identifier</button>
            </form>
        </section>
    </div>
</div>
{% endblock %}
