{% extends 'base.html.twig' %}

{% block title %}Crowdin{% endblock %}

{% block body %}
<div class="container-fluid login_page">
    <header class="login_header row">
        <img src="{{ asset('images') }}/crowdin-logo-small.svg" alt="Crowdin logo small" class="crowdin_logo_small" />
        <div>
            <a href="{{ path('app_login') }}" class="btn btn-outline-primary btn-link btn-sm mr-0">S'identifier</a>
        </div>
    </header>
    <div class="row">
        <section class="col-1 login_pattern_left"></section>
        <section class="col-4 login_about">
            <h1>Solution de localisation agile pour les entreprises technologiques</h1>
            <p>Crowdin est une solution basée sur le cloud qui rationalise la gestion de la localisation pour votre équipe. C'est l'endroit idéal pour gérer efficacement tout votre contenu multilingue.</p>
            <p class="mt-4 grey_text">Reconnu par des entreprises prospères du monde entier</p>
            <img src="{{ asset('images') }}/login-logos.png" alt="Login logos" class="img-fluid" />
        </section>
        <section class="col-4 offset-2 login_form_section">
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}
            <h3 class="mb-5">Inscrivez vous</h3>
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.pseudo, {
                    label: 'Nom d\'utilisateur'
                }) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe'
                }) }}
                {{ form_row(registrationForm.agreeTerms, {
                    label: 'J\'accepte les conditions générales et la politique de confidentialité'
                }) }}
                <button type="submit" class="btn btn-primary btn-block">Créer un compte</button>
            {{ form_end(registrationForm) }}
        </section>
    </div>
</div>
{% endblock %}
