@font-face {
 font-family: 'Open Sans';
 src: url('../fonts/OpenSans-Regular.ttf');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Open Sans';
 src: url('../fonts/OpenSans-Bold.ttf');
 font-weight: 600;
 font-style: normal;
}

body
{
	font-size: 14px;
    line-height: 22px;
    font-family: 'Open Sans',sans-serif;
    text-rendering: optimizeLegibility;
    overflow-y: scroll;
}

a
{
	color: #85ae52;
	padding: 2px 0;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    display: block;
    text-decoration: none;
}

a:hover, a.hover, .btn-link:hover
{
	color: #5d7a39;
	text-decoration: none;
}

a:hover, a:active
{
	outline: 0;
}

header
{
	border: 1px solid #d6d8d4;
    border-top-color: rgb(214, 216, 212);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(214, 216, 212);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(214, 216, 212);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(214, 216, 212);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

header div
{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

header div ul
{
	display: flex;
	margin: 0;
}

header div ul li a
{
	display: block;
	color: #000;
	padding: 10px 15px;
}

h1
{
	font-size: 38.5px;
	line-height: 140%;
	font-weight: 600;
	margin: 10px 0;
    font-family: inherit;
    color: inherit;
    text-rendering: optimizelegibility;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h4
{
	line-height: 140%;
	font-weight: 600;
	font-size: 17.5px;
	margin: 10px 0;
    font-family: inherit;
    color: inherit;
    text-rendering: optimizelegibility;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

li
{
	list-style-type: none;
	line-height: 22px;
}

.settings_page
{
	max-width: 840px;
	margin: 0% auto;
}

.settings_avatar_container
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.profile_avatar
{
	width: 100%;
}

.profile_language
{
	display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
	color: #666;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 7px;
    background: #f9f9f9;
    border-radius: 2px;
}

.profile_projectsList li:hover
{
	background-color: #F6F6F6;
}

.settings_avatar_form form #form
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.settings_avatar_form form #form div label
{
	display: none;
}

.project_owner
{
    display: flex;
    align-items: center;
    border-radius: 2px;
    background-color: #f5f5f5;
    white-space: nowrap;
    color: #555;
}

.project_owner:hover, .project_manager:hover
{
    color: #555;
    text-decoration: underline;
}

.project_manager
{
    display: flex;
    align-items: center;
    color: #555;
}

.project_details
{
    background-color: #f6f7f5;
}

.project_manager_owner
{
    color: #4498ef;
    border: 1px solid #4498ef;
    border-radius: 2px;
    text-transform: uppercase;
    width: fit-content;
    font-size: 10px;
}

.settings_btn
{
    display: flex;
    align-items: center;
    text-transform: none;
    letter-spacing: normal;
    font-size: 14px;
    border: 1px solid #CDD0CB;

    height: 40px;
}

.project_settings_top-bar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listLanguages
{
    height: 150px;
    overflow: scroll;
}

.sourceToTranslate
{
    display: flex;
    justify-content: space-between;
    background-color: #F9F9F8;
}

.sourceToTranslate p
{
    width: fit-content;
}

.delete-btn
{
    background-color: #a04347;
    border-color: #a04347;
}

.delete-btn:hover
{
    background-color: #bb666a !important;
}

.delete-btn:focus
{
    background-color: #bb666a !important;
}