@font-face {
 font-family: 'Poppins';
 src: url('../fonts/Poppins-Regular.ttf');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'NotoSansKR';
 src: url('../fonts/NotoSansKR-Regular.otf');
 font-weight: normal;
 font-style: normal;
}

body
{
	margin: 0;
    font-family: Noto Sans KR,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(40,44,52,.87);
    text-align: left;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6
{
	margin-bottom: .75rem;
    font-weight: 400;
    line-height: 1.2;
    color: #050c1a;
}

h1
{
	font-size: 3.5rem;
	margin-bottom: 0.75rem;
	font-weight: 400;
    line-height: 1.2;
    font-family: Poppins, sans-serif;
}

h3
{
	font-size: 1.675rem;
}

h1 + p
{
	font-size: 1.125rem;
	line-height: 1.875rem;
	margin-bottom: 1.5rem;
	font-family: NotoSansKR, sans-serif;
}

header
{
	display: flex;
	justify-content: space-between;
}

.btn.btn-primary:focus, .btn.btn-primary:hover, .btn.btn-primary:not(:disabled):not(.disabled):active:focus
{
	background-color: #66bb6a;
    border-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    box-shadow: none;
}

.btn.btn-link:focus, .btn.btn-link:hover, .btn.btn-link:not(:disabled):not(.disabled):active:focus
{
	background-color: rgba(67,160,71,.1);
    color: #43a047;
    text-decoration: none;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle
{
	color: #fff;
    background-color: #43a047;
    border-color: #43a047;
}

.btn.btn-outline-primary:focus, .btn.btn-outline-primary:hover, .btn.btn-outline-primary:not(:disabled):not(.disabled):active:focus
{
	background-color: rgba(67,160,71,.1);
    color: #43a047;
}

.btn.btn-outline-primary:not(:disabled):not(.disabled).active, .btn.btn-outline-primary:not(:disabled):not(.disabled):active
{
	background-color: rgba(67,160,71,.2);
    color: #43a047;
}
.btn.btn-link:not(:disabled):not(.disabled).active, .btn.btn-link:not(:disabled):not(.disabled):active
{
	background-color: rgba(67,160,71,.2);
    color: #43a047;
}

.btn.focus, .btn:focus
{
	outline: 0;
    box-shadow: none!important;
}

.btn-outline-primary:hover
{
	color: #fff;
    background-color: #43a047;
    border-color: #43a047;
    border-top-color: rgb(67, 160, 71);
    border-right-color: rgb(67, 160, 71);
    border-bottom-color: rgb(67, 160, 71);
    border-left-color: rgb(67, 160, 71);
}

.btn-primary
{
	color: #fff;
    background-color: #43a047;
    border-color: #43a047;
}

.btn-primary:hover
{
	color: #fff;
    background-color: #38853b;
    border-color: #347c37;
    border-top-color: rgb(52, 124, 55);
    border-right-color: rgb(52, 124, 55);
    border-bottom-color: rgb(52, 124, 55);
    border-left-color: rgb(52, 124, 55);
}

.btn-block
{
	display: block;
    width: 100%;
}

.btn
{
	letter-spacing: .75px;
	white-space: nowrap;
	text-transform: uppercase;
	border-width: 0.125rem;
	    padding: .625rem 1.5rem;
}

.btn-sm
{
	display: inline-block;
    font-family: Noto Sans KR,sans-serif;
    font-weight: 500;
    color: rgba(40,44,52,.87);
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: .125rem solid transparent;
    padding: .625rem 1.5rem;
    padding-top: 0.625rem;
    padding-right: 1.5rem;
    padding-bottom: 0.625rem;
    padding-left: 1.5rem;
    font-size: .875rem;
    line-height: 1.75;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-link
{
	color: #43a047;
	font-weight: 400;
}

.btn-outline-primary
{
	border-color: #43a047;
}

.grey_text
{
	color: #A0A1A7;
}

.login_page
{
	background: linear-gradient(to right, #2E3440 50%, white 50%);
	height: 100vh;
}

.login_header
{
	padding: 1.25rem;
	height: 5vh
}

.crowdin_logo_small
{
	filter: brightness(0) invert(1);
}

.login_pattern_left
{
	background-image: url('../images/login-pattern-left.png');
	background-size: auto 50%;
	background-repeat: no-repeat;
	background-position: right bottom;
}

.login_about
{
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 95vh;
}

.login_about h1
{
	color: #fff;
}

.login_form_section
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 95vh;
}

form div
{
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
}

input, select, textarea
{
	display: block;
    width: 100%;
    height: 3rem;
    padding: .625rem 1rem;
    font-family: Noto Sans KR,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input:focus, select:focus, textarea:focus
{
	color: #495057;
    background-color: #fff;
    border-color: #43a047;
    outline: 0;
    box-shadow: none;
}

.login_form_section form div:nth-child(4) label
{
	margin: 0;
	margin-left: 5px;
}

.login_form_section form div:nth-child(4)
{
	flex-direction: row-reverse;
	align-items: center;
	justify-content: flex-end;
}