{% extends 'application.html.twig' %}

{% block title %}Créer un projet{% endblock %}

{% block body %}
<div class="container">
	<h1>Créer un projet Crowdin</h1>
	{{ form(createprojectForm) }}
</div>
{% endblock %}
