{% extends 'application.html.twig' %}

{% block title %}Explorez{% endblock %}

{% block body %}
<div class="container">
	<div class="row mt-5">
		<a href="{{ path('app_random_project') }}" class="col-6 offset-3"><button class="btn btn-primary col-12">Découvrir un projet aléatoirement</button></a>
	</div>
</div>
{% endblock %}
