{% extends 'application.html.twig' %}

{% block title %}{{ user.pseudo }} ({{ user.pseudo }}){% endblock %}

{% block body %}
<div class="container p-4">
	<div class="row">
		<div class="col-3">
			<div>
				<a href="{{ path('app_myprofile') }}"><img src="{{ asset('images/avatars')}}/{{user.avatar}}" alt="{{ user.pseudo }}'s avatar" class="profile_avatar"></a>
			</div>
			<h3 class="mt-4">{{user.pseudo}}</h3>
			<hr />
			<p>{{ user.description }}</p>
			<hr/>
			<p><strong>Langues préférées</strong></p>
			<ul class="p-0 m-0">
				{% for language in user.languages %}
					<li class="profile_language">{{ language }}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-9">
			<h3>Projets</h3>
			<ul class="profile_projectsList m-0 p-0">
				<hr class="m-0" />
				{% for project in projects %}
					<li class="py-2">
						<a href="{{ path('app_project', {slugname: project.slugname }) }}">{{ project.projectName}}</a>
					</li>
					<hr class="m-0" />
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}
