{% extends 'application.html.twig' %}

{% block title %}Traduction de {{ project.projectName }} ({{ language }}){% endblock %}

{% block body %}
<div class="container">
	<section class="mt-5 project_settings_top-bar">
		<a href="{{ path('app_project', {slugname: project.slugname}) }}" class="btn settings_btn">
			<p class="m-0 ml-1">Aller à la page du projet</p>
		</a>
	</section>
	<h1>Traduction ({{ language }})</h1>
	{% for source in sources %}
	<div class="sourceToTranslate py-2 px-5">
		<a href="{{ path('app_source_translate', {slugname: project.slugname, idSource: source.id, language: language} )}}">
			<p class="m-0">{{ source.content|split(' ')[0] }} {{ source.content|split(' ')[1] }} {{ source.content|split(' ')[2] }} {{ source.content|split(' ')[3] }} {{ source.content|split(' ')[4] }}...</p>
		</a>
		<p class="m-0"><strong>État :
			{% if source.translatedVersion is defined %}
				{% if language in source.translatedVersion %}
					Traduit
				{% else %}
					A traduire
				{% endif %}
			{% else %}
				A traduire
			{% endif %}
		</strong></p>
	</div>
	<hr />
	{% endfor %}
</div>
{% endblock %}
