{% extends 'application.html.twig' %}

{% block title %}Traduction {{ project.projectName }} dans Crowdin{% endblock %}

{% block body %}
<div class="container">
	<div class="mt-5 project_settings_top-bar">
		<a href="{{ path('app_profile', {pseudo: owner.pseudo}) }}" class="col-2 project_owner p-2">
			<img src="{{ asset('images/avatars')}}/{{owner.avatar}}" alt="{{ owner.pseudo }}'s avatar" class="col-3 p-0" />
			<p class="col-9 m-0 p-0 pl-1">{{ owner.pseudo }}</p>
		</a>
		<a href="{{ path('app_project_settings', {slugname: project.slugname}) }}" class="btn settings_btn">
			<i class="fas fa-cog fa-2x"></i>
			<p class="m-0 ml-1">Paramètres</p>
		</a>
	</div>
	<h1>{{ project.projectName }}</h1>
	<div class="row">
		<div class="col-8">
			<p><strong>Traductions</strong></p>
			<div>
				{% for language in project.targetLanguage %}
					<a href="{{ path('app_project_translate', {slugname: project.slugname, language: language}) }}">{{ language }}</a>
				{% endfor %}
			</div>
		</div>
		<div class="col-4 project_details p-3">
			<p><strong>Détails</strong></p>
			<p>Langue source: {{ project.SourceLanguage }}</p>
			<p>Membres du projet: {{ project.members|length }}</p>
			<p>Nombre de sources: {{ sources|length }}</p>
			<p>Nombre de sources traduites: {{ translations|length }}</p>
			<p>Date de création: {{ project.creationDate|date("d/m/Y") }}</p>
			<hr />
			<p><strong>Managers</strong></p>
			<a href="" class="project_manager">
				<img src="{{ asset('images/avatars')}}/{{owner.avatar}}" alt="{{ owner.pseudo }}'s avatar" class="col-2 p-0" />
				<div class="col-10">
					<p class="m-0 p-0 mb-1">{{ owner.pseudo }}</p>
					<p class="project_manager_owner px-1">Propriétaire</p>
				</div>
			</a>
		</div>
	</div>
</div>
{% endblock %}
