{% extends 'application.html.twig' %}

{% block title %}Paramètres {{ project.projectName }}{% endblock %}

{% block body %}
<div class="container">
	<section class="mt-5 project_settings_top-bar">
		<a href="{{ path('app_profile', {pseudo: owner.pseudo}) }}" class="col-1 project_owner p-2">
			<img src="{{ asset('images/avatars')}}/{{owner.avatar}}" alt="{{ owner.pseudo }}'s avatar" class="col-12 p-0" />
		</a>
		<a href="{{ path('app_project', {slugname: project.slugname}) }}" class="btn settings_btn">
			<p class="m-0 ml-1">Aller à la page du projet</p>
		</a>
	</section>
	<h1>Paramètres {{ project.projectName }}</h1>
	<section>
		<h4>Langues cibles</h4>
		<div class="row">
			<div class="col-6">
				{{ form_start(languagesForm, {'attr': {'id': 'languagesForm'}}) }}
				{{ form_end(languagesForm) }}
			</div>
			<div class="col-6">
				<ul class="listLanguages">
					<hr />
				{% for language in languages %}
					<li>{{ language}}</li>
					<hr />
				{% endfor %}
				</ul>
			</div>
		</div>
	</section>
	<section>
		<h4>Ajouter des sources</h4>
		<div>
			{{ form(addFilesForm) }}
		</div>
		<div>
			{{ form(addSourceForm) }}
		</div>
	</section>
	<section>
		<a href="">
			<button class="btn btn-primary delete-btn">Supprimer le projet</button>
		</a>
	</section>
</div>
{% endblock %}
