{% extends 'application.html.twig' %}

{% block title %}Paramètres du compte {{ user.pseudo }}{% endblock %}

{% block body %}
<div class="settings_page p-4">
	<h1>Paramètres du compte</h1>
	<section>
		<h4>Image de profil</h4>
		<div class="row">
			<div class="col-3 settings_avatar_container">
				<img src="{{ asset('images/avatars')}}/{{user.avatar}}" alt="{{ user.pseudo }}'s avatar" class="profile_avatar">
			</div>
			<div class="col-9 settings_avatar_form">
				<hr />
				{{ form_start(imageForm, {'attr': {'id': 'imageForm'}}) }}
				{{ form_end(imageForm) }}
				<hr />
			</div>
		</div>
	</section>
	<section>
		<h4>Informations générales</h4>
		{{ form_start(profileForm, {'attr': {'id': 'profileForm'}}) }}
		{{ form_end(profileForm) }}
	</section>
	<section>
		<h4>Langues préférées</h4>
		<div class="row">
			<div class="col-6">
				{{ form_start(languagesForm, {'attr': {'id': 'languagesForm'}}) }}
				{{ form_end(languagesForm) }}
			</div>
			<div class="col-6">
				<ul class="listLanguages">
					<hr />
				{% for language in languages %}
					<li>{{ language}}</li>
					<hr />
				{% endfor %}
				</ul>
			</div>
		</div>
	</section>
</div>
{% endblock %}
