{% extends 'application.html.twig' %}

{% block title %}{{ project.projectName }} - Traduction Crowdin{% endblock %}

{% block body %}
<div class="container">
	<p class="mt-5">Source d'origine : </p>
	<p>{{ source.content }}</p>
	{{ form(translateForm) }}
</div>
{% endblock %}
