<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %} - Crowdin</title>
        <link href="{{ asset('images/favicon.ico')}}" rel="icon" />
        <link href="{{ asset('css/all.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/application.css') }}" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="container">
                <div class="logo">
                    <a href="{{ path('app_myprofile') }}">
                        <svg class="logo-icon-projects" width="43" height="32">
                            <image class="logo-icon-projects" xlink:href="/images/crowdin-logo-icon.svg" src="/images/crowdin-logo-icon.png" width="43" height="32" alt="Crowdin Logo"></image>
                        </svg>
                    </a>
                </div>
                <div>
                    <ul>
                        <li>
                            <a href="{{ path('app_createproject') }}">Créer son projet</a>
                        </li>
                        <li>
                            <a href="{{ path('app_explore') }}">Explorer</a>
                        </li>
                        <li>
                            <a href="{{ path('app_myprofile') }}">Profil</a>
                        </li>
                        <li>
                            <a href="{{ path('app_settings') }}">Réglages</a>
                        </li>
                        <li>
                            <a href="{{ path('app_logout') }}">Se déconnecter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
